/*
PATH: app/ui-component/Subtitle/index.css
@osakacrypto
Last modified: 2025-07-07
*/

.strvn-subtitle {
  font-size: var(--STRVN-SUBTITLE);
  font-weight: var(--STRVN-WEIGHT-REGULAR);
  margin: 0 0 var(--STRVN-SPACING-3) 0;
  line-height: var(--STRVN-LINEHEIGHT-SUBTITLE);
}
