/*
PATH: app/ui-component/Title/index.css
@osakacrypto
Last modified: 2025-07-10
*/

.strvn-title {
  font-size: var(--STRVN-TITLE);
  font-weight: var(--STRVN-WEIGHT-BOLD);
  margin: 0 0 var(--STRVN-SPACING-3) 0;
  line-height: var(--STRVN-LINEHEIGHT-TITLE);
  text-shadow: -6px 3px var(--STRVN-COLOUR-BLACK);
  text-transform: uppercase;
}

.strvn-title-default {
  color: var(--STRVN-FOREGROUND);
}

.strvn-title-contrast {
  color: var(--STRVN-PRIMARY);
}
